body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
}

.color {
  color: brown;
}

#futani {
  color: deepskyblue;
}

section {
  display: flex;
  margin-bottom: 50px;
}

.half-width {
  width: 50%;
  padding: 5%;
}

.half-width img {
  width: 85%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(rgb(102, 126, 146), rgb(182, 61, 81));
  padding: 10px 20px;
  border-radius: 15px;
  color: white;
  font-weight: 300;
}

#button-link {
  text-decoration: none;
}

.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;

}

.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}